body{
    background-color: red;
}
h1 {
border: 20px;
background-color: rgb(129, 238, 13);
}
li{
    color: blanchedalmond;
}
image{
    size: 50px;
    height: 20px;
    width: 10px;
}
.box{
    border: 10px;
    border-color: blue;
}