body{
    /* height: auto; */
    background-color: skyblue;
}
h1 {
    height: auto;
text-align: center;
text-shadow: 2cap;
border:none;
box-shadow: none;
background-color:rgb(248, 147, 5);
}
h2 { 

    background-color: aliceblue;
    border-color: aliceblue;
    background-origin: padding-box;
    border-radius: 2px;
    margin-top: auto;
    position: relative;
    top:-22px;
    
text-align: center;

}
li{
    color: rgb(26, 17, 2);
}
img {
    /* size: 50px; */
    height: 276px;
    width: 300px;
   border: 50px;
   border-color: aquamarine;
    border-radius: 80px;
    border-image-outset: 20px;
}



.box{
    border: 10px;
    border-color: blue;
}
button{
    display: flow-root;
    height: 30px;
    width: 60px;
    border-radius: 20px;
background-color: cyan;
}
.button{
    text-align: center;
}
/* p {

    border: 20px;
    border-color: black;
}
 */
ul{
    display: inline-block ;
    border: 20px;
    background: rgb(238, 222, 3);
    height: 80px;
    width: 70px;

} 
.box{
    border: 20px;
    background: khaki;
    display:flexbox;

}